
/* Hint */
.wrapper {
  border: 1px solid #edf2f4;
  max-width: 350px;
  min-height: 500px;
  font-family: "Lato";
  overflow: visible;
}
.wrapper .body-image {
  background: #577597;
  max-width: 100%;
  height: 490px;
  background-size: cover;
  background-position: center;
  margin-top: -2px;
  padding: 30px;
  position: relative;
  border-radius: 2px;
}
.wrapper .body-image .instruction {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  display: none;
  color: #FFF;
  font-size: 18px;
  width: 100%;
  height: 20px;
  text-align: center;
}
.wrapper .body-image .info {
  color: rgba(255, 255, 255, 0.9);
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(0, 0, 0, 0.2);
  padding: 10px;
}
.wrapper .body-image .info ul {
  list-style: square;
  padding-right: 20px;
}
.wrapper .body-image .info ul li {
  margin-bottom: 13px;
  font-size: 14px;
  word-spacing: 2px;
  line-height: 21px;
  /*border-bottom: 1px solid rgba(255, 255, 255, 0.2);*/
}
.wrapper .body-image .info .ok-btn-wrapper {
  text-align: center;
  position: relative;
  padding: 4px 0px 10px 0px;
}
.wrapper .body-image .info .ok-btn-wrapper .ok-btn {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.9);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 2px;
}
.wrapper .body-image .info .ok-btn-wrapper .ok-btn .text {
  /*position: relative;*/
}
.wrapper .body-image .info .ok-btn-wrapper .ok-btn .hover-overlay {
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  position: absolute;
  height: 100%;
  width: 0;
  left: 0;
  top: 0;
  background: #21B7B7;
  opacity: .6;
  z-index: 0;
}
.wrapper .body-image .info .ok-btn-wrapper .ok-btn:hover .hover-overlay {
  width: 100%;
}

/* Loader */

.no-js #loader {
    display: none;
}

.js #loader {
    display: block;
    position: absolute;
    left: 100px;
    top: 0;
}

.se-pre-con {
    position: absolute;
    left: 0px;
    top: -20px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(../img/loader.gif) center no-repeat #fff;
    
}

@keyframes colorchange {
    0% {
        color: black;
    }

    25% {
        color: #00aacf;
    }
    50% {
        color: #fc5652;
    }
    75% {
        color: #00b3a0;
    }
    100% {
        color: #222222;
    }
}

@-webkit-keyframes colorchange
/* Safari and Chrome - necessary duplicate */

{
    0% {
        color: black;
    }

    25% {
        color: #00aacf;
    }
    50% {
        color: #fc5652;
    }
    75% {
        color: #00b3a0;
    }
    100% {
        color: #222222;
    }
}

.se-pre-con p {
    text-align: center;
    position: relative;
    top: 54%;
    font-family: Arial, Helvetica, sans-serif;
    color: #222222;
    font-weight: bold;
    animation: colorchange 30s;
    /* animation-name followed by duration in seconds*/
    /* you could also use milliseconds (ms) or something like 2.5s */
    -webkit-animation: colorchange 30s;
    /* Chrome and Safari */
}


/* End - Loader */

h2 {
    color: white;
}

body {
    background: #222;
}

.pFire {
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 13px;
}

#divWord {
    background: url(../img/control.png);
    width: 100%;
    height: 80px;
    position: absolute;
    bottom: 0px;
}

.divPercent {
    width: 19%;
    height: 80px;
    position: relative;
    float: left;
}

#battleground {
    width: 512px;
    height: 768px;
    background: url(../img/img_bg_level_1.jpg) repeat-y;
    margin: auto;
    background-position: 0 0;
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    overflow: hidden;
}

#startBg {
    width: 512px;
    height: 768px;
    background: url(../img/logo.png);
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
}

#gameOver {
    width: 512px;
    height: 768px;
    background: rgba(0, 0, 0, 0.8);
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    display: none;
    overflow: hidden;
}

#data {
    width: 512px;
    height: 768px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

#bgRed {
    width: 512px;
    height: 768px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
    display: none;
}

#start:hover {
    cursor: pointer;
}

#scores {
    float: right;
    margin: 10px 10px 10px 10px;
}

#scores img {
    float: left;
    width: 20px;
    vertical-align: top;
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
}

#data_middle img {
    float: right;
    width: 15px;
    vertical-align: top;
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
}

#Pause {
    float: right;
    position: relative;
    top: 8px;
    width: 30px;
    height: 30px;
    background: url(../img/pause.png) no-repeat;
}
#Mute {
    float: right;
    position: relative;
    top: 8px;
    width: 30px;
    height: 30px;
    background: url(../img/mute.png) no-repeat;
}
#data_top {
    width: 512px;
    overflow: hidden;
}

#data_middle {
    width: 500px;
    padding-right: 12px;
    padding-top: 10px;
    overflow: hidden;
}

#fScores {
    padding-left: 12px;
    overflow: hidden;
    float: left;
    width: 200px;
}

#maxImg {
    width: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#maxScores img {
    width: 15px;
}

#hint {
    /*
    position: absolute;
    left: 20px;
    top: 20px;
    bottom: 0;
    margin: auto;
    */
    position: absolute;
    height: 550px;
    left: 20px;
    top: 0;
    bottom: 0;
    margin: auto;
}

#overTit {
    text-align: center;
    width: 512px;
    margin: 150px auto 0;
}

#overTit img {
    width: 300px;
    margin: 106px;
}

#overImg {
    width: 512px;
    text-align: center;
    margin: 50px auto 0;
}

#overImg img {
    height: 50px;
}

#overTitImg_0 {
    display: none;
}

#overTitImg_1 {
    display: none;
}

.restart {
    width: 173px;
    margin: 10px auto;
}

.restart:hover {
    cursor: pointer;
}

#start {
    margin: 50px 0 0 166px;
    width: 180px;
}

#login {
    top: 450px;
    left: 130px;
    position: relative;
}

#userName {
    font-size: 25px;
    width: 250px;
    text-align: center;
}

#consoleGame {
    width: 210px;
}

::-webkit-input-placeholder {
    text-align: center;
}

#userScore {
    width: 150px;
    height: 25px;
}

#noNameTit {
    color: red;
}

#loginTit {
    color: red;
}

#hpBox {
    float: left;
}

#myHP {
    width: 40px;
    float: left;
    margin: 10px 10px 0 0;
}

#myHpView {
    height: 10px;
    width: 100px;
    border: 2px solid #964a2c;
    float: left;
    margin-top: 12px;
}

#nowHp {
    height: 10px;
    width: 100px;
    background: #ec4f00;
}

#boss {
    position: absolute;
    top: 7px;
    left: 170px;
    display: none;
}

#bossTit {
    float: left;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}

#bossHp {
    height: 10px;
    width: 120px;
    border: 2px solid #964a2c;
    float: left;
    margin-top: 5px;
    margin-left: 5px;
}

#bossNowHp {
    height: 10px;
    width: 120px;
    background: red;
}

#Billboard {
    position: absolute;
    width: 348px;
    height: 550px;
    right: 20px;
    top: 0;
    bottom: 0;
    margin: auto;
}

#bbList {
    width: 280px;
    margin: 160px 10px 0 10px;
    padding: 0;
}

#bbList li {
    list-style: none;
    width: 280px;
    margin-left: 10px;
    height: 30px;
}

.bb {
    color: #FE0000;
    float: left;
    font-weight: bold;
    margin-right: 10px;
}

.bName {
    float: left;
    display: block;
    width: 100px;
    overflow: hidden;
    margin-right: 10px;
}

.fen {
    float: right;
    margin-right: 20px;
}

.sScores {
    float: right;
}

.reg {
    font-size: 12px;
}

#nameReg {
    font-size: 12px;
}

#PassReg {
    font-size: 12px;
}


/* Google Fonts */

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

/* set global font to Open Sans */

body {
    font-family: 'Open Sans', 'sans-serif';
}


/* header */

h1 {
    color: #55acee;
    text-align: center;
}


/* header/copyright link */

.link {
    text-decoration: none;
    color: #55acee;
    border-bottom: 2px dotted #55acee;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    cursor: url(http://cur.cursors-4u.net/symbols/sym-1/sym46.cur), auto;
}

.link:hover {
    color: #2ecc71;
    border-bottom: 2px dotted #2ecc71;
}


/* button div */

#buttons {
    padding-top: 50px;
    text-align: center;
}


/* start da css for da buttons */

.btn {
    border-radius: 5px;
    padding: 15px 25px;
    font-size: 22px;
    text-decoration: none;
    margin: 20px;
    color: #fff;
    position: relative;
    display: inline-block;
}

.btn:active {
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    box-shadow: 0px 1px 0px 0px;
}

.blue {
    background-color: #55acee;
    box-shadow: 0px 5px 0px 0px #3C93D5;
}

.blue:hover {
    background-color: #6FC6FF;
}

.green {
    background-color: #2ecc71;
    box-shadow: 0px 5px 0px 0px #15B358;
}

.green:hover {
    background-color: #48E68B;
}

.red {
    background-color: #e74c3c;
    box-shadow: 0px 5px 0px 0px #CE3323;
}

.red:hover {
    background-color: #FF6656;
}

.purple {
    background-color: #9b59b6;
    box-shadow: 0px 5px 0px 0px #82409D;
}

.purple:hover {
    background-color: #B573D0;
}

.orange {
    background-color: #e67e22;
    box-shadow: 0px 5px 0px 0px #CD6509;
}

.orange:hover {
    background-color: #FF983C;
}

.yellow {
    background-color: #f1c40f;
    box-shadow: 0px 5px 0px 0px #D8AB00;
}

.yellow:hover {
    background-color: #FFDE29;
}


/* copyright stuffs.. */


/*p {
  text-align: center;
  color: #55acee;
  padding-top: 20px;
}*/


/* Text fire*/

.content {
    position: absolute;
    font-family: 'Lato', sans-serif;
    color: #1a443c;
}

.visibleNone {
    font-weight: 300;
    overflow: hidden;
    padding: 13px 20px;
}

.visible {
    font-weight: 300;
    overflow: hidden;
    padding: 13px 20px;
}

.visible:before {
    content: '✈';
    left: 0;
}

.visible:before {
    padding-top: 9px;
    position: absolute;
    top: 0;
    color: #16a085;
    -webkit-animation-name: opacity;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: opacity;
    animation-name: opacity;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.pWord {
    display: inline;
    float: left;
    margin: 0;
}

@-webkit-keyframes opacity {
    0%,
    100% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }
}


/*Table*/

@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
.tbContainer th h1 {
    font-weight: bold;
    font-size: 1em;
    text-align: left;
    color: #185875;
}

.tbContainer td {
    font-weight: normal;
    font-size: 1em;
    -webkit-box-shadow: 0 2px 2px -2px #0E1119;
    -moz-box-shadow: 0 2px 2px -2px #0E1119;
    box-shadow: 0 2px 2px -2px #0E1119;
}

.tbContainer {
    text-align: left;
    overflow: hidden;
    width: 80%;
    margin: 0 auto;
    display: table;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    line-height: 1.42em;
    color: #f3ecfa;
    background-color: #1F2739;
}

.tbContainer td,
.tbContainer th {
    padding-bottom: 2%;
    padding-top: 2%;
    padding-left: 2%;
}


/* Background-color of the odd rows */

.tbContainer tr:nth-child(odd) {
    background-color: #323C50;
}


/* Background-color of the even rows */

.tbContainer tr:nth-child(even) {
    background-color: #2C3446;
}

.tbContainer th {
    background-color: #1F2739;
}

.tbContainer td:first-child {
    color: #fffca2;
}

.tbContainer tr:hover {
    background-color: #464A52;
    -webkit-box-shadow: 0 6px 6px -6px #0E1119;
    -moz-box-shadow: 0 6px 6px -6px #0E1119;
    box-shadow: 0 6px 6px -6px #0E1119;
}

.tbContainer td:hover {
    background-color: #FFF842;
    color: #403E10;
    font-weight: bold;
    box-shadow: #7F7C21 -1px 1px, #7F7C21 -2px 2px, #7F7C21 -3px 3px, #7F7C21 -4px 4px, #7F7C21 -5px 5px, #7F7C21 -6px 6px;
    transform: translate3d(6px, -6px, 0);
    transition-delay: 0s;
    transition-duration: 0.4s;
    transition-property: all;
    transition-timing-function: line;
}

@media (max-width: 800px) {
    .tbContainer td:nth-child(4),
    .tbContainer th:nth-child(4) {
        display: none;
    }
}
