USE [master]
GO
/****** Object:  Database [dbLearnJapaneseProgram]    Script Date: 11/07/2018 6:19:12 AM ******/
CREATE DATABASE [dbLearnJapaneseProgram]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dbLearnJapaneseProgram].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dbLearnJapaneseProgram]
GO
/****** Object:  UserDefinedFunction [fn_diagramobjects]    Script Date: 11/07/2018 6:19:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE FUNCTION [fn_diagramobjects]() 
	RETURNS int
	WITH EXECUTE AS N'dbo'
	AS
	BEGIN
		declare @id_upgraddiagrams		int
		declare @id_sysdiagrams			int
		declare @id_helpdiagrams		int
		declare @id_helpdiagramdefinition	int
		declare @id_creatediagram	int
		declare @id_renamediagram	int
		declare @id_alterdiagram 	int 
		declare @id_dropdiagram		int
		declare @InstalledObjects	int

		select @InstalledObjects = 0

		select 	@id_upgraddiagrams = object_id(N'dbo.sp_upgraddiagrams'),
			@id_sysdiagrams = object_id(N'dbo.sysdiagrams'),
			@id_helpdiagrams = object_id(N'dbo.sp_helpdiagrams'),
			@id_helpdiagramdefinition = object_id(N'dbo.sp_helpdiagramdefinition'),
			@id_creatediagram = object_id(N'dbo.sp_creatediagram'),
			@id_renamediagram = object_id(N'dbo.sp_renamediagram'),
			@id_alterdiagram = object_id(N'dbo.sp_alterdiagram'), 
			@id_dropdiagram = object_id(N'dbo.sp_dropdiagram')

		if @id_upgraddiagrams is not null
			select @InstalledObjects = @InstalledObjects + 1
		if @id_sysdiagrams is not null
			select @InstalledObjects = @InstalledObjects + 2
		if @id_helpdiagrams is not null
			select @InstalledObjects = @InstalledObjects + 4
		if @id_helpdiagramdefinition is not null
			select @InstalledObjects = @InstalledObjects + 8
		if @id_creatediagram is not null
			select @InstalledObjects = @InstalledObjects + 16
		if @id_renamediagram is not null
			select @InstalledObjects = @InstalledObjects + 32
		if @id_alterdiagram  is not null
			select @InstalledObjects = @InstalledObjects + 64
		if @id_dropdiagram is not null
			select @InstalledObjects = @InstalledObjects + 128
		
		return @InstalledObjects 
	END
	
GO
/****** Object:  Table [Dictionary_Main]    Script Date: 11/07/2018 6:19:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Dictionary_Main](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Japanese] [nvarchar](100) NOT NULL,
	[Vietnamese] [nvarchar](100) NOT NULL,
	[Category] [nvarchar](10) NULL,
	[LessonID] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Dictionary_Main] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)
GO
/****** Object:  Table [Game_Score]    Script Date: 11/07/2018 6:19:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Game_Score](
	[UserID] [int] NOT NULL,
	[TypeOfGame] [int] NOT NULL,
	[Score] [int] NOT NULL,
 CONSTRAINT [PK_GameScore] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC,
	[TypeOfGame] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)
GO
/****** Object:  Table [Lesson]    Script Date: 11/07/2018 6:19:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Lesson](
	[LessonID] [nvarchar](50) NOT NULL,
	[LessonName] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Lesson] PRIMARY KEY CLUSTERED 
(
	[LessonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)
GO
/****** Object:  Table [Lesson_Recently]    Script Date: 11/07/2018 6:19:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Lesson_Recently](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[LessonID] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Lesson_Recently] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)
GO
/****** Object:  Table [sysdiagrams]    Script Date: 11/07/2018 6:19:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [sysdiagrams](
	[name] [sysname] NOT NULL,
	[principal_id] [int] NOT NULL,
	[diagram_id] [int] IDENTITY(1,1) NOT NULL,
	[version] [int] NULL,
	[definition] [varbinary](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[diagram_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)
GO
/****** Object:  Table [Test_Score]    Script Date: 11/07/2018 6:19:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Test_Score](
	[TestID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[TypeOfTest] [int] NOT NULL,
	[Date] [date] NOT NULL,
	[Score] [int] NOT NULL,
 CONSTRAINT [PK_Test_Score] PRIMARY KEY CLUSTERED 
(
	[TestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)
GO
/****** Object:  Table [User]    Script Date: 11/07/2018 6:19:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [User](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Password] [varchar](32) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)
GO
/****** Object:  Table [User_Word]    Script Date: 11/07/2018 6:19:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [User_Word](
	[WordID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[Japanese] [nvarchar](100) NOT NULL,
	[Vietnamese] [nvarchar](100) NOT NULL,
	[TopicID] [int] NOT NULL,
 CONSTRAINT [PK_User_Word] PRIMARY KEY CLUSTERED 
(
	[WordID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)
GO
/****** Object:  Table [Word_Topic]    Script Date: 11/07/2018 6:19:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Word_Topic](
	[TopicID] [int] IDENTITY(1,1) NOT NULL,
	[TopicName] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Word_Topic] PRIMARY KEY CLUSTERED 
(
	[TopicID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)
GO
SET IDENTITY_INSERT [Dictionary_Main] ON 

INSERT [Dictionary_Main] ([ID], [Japanese], [Vietnamese], [Category], [LessonID]) VALUES (1, N'わたし', N'tôi', NULL, N'1.1')
INSERT [Dictionary_Main] ([ID], [Japanese], [Vietnamese], [Category], [LessonID]) VALUES (2, N'（お）なまえ', N'tên (bạn)', NULL, N'1.1')
INSERT [Dictionary_Main] ([ID], [Japanese], [Vietnamese], [Category], [LessonID]) VALUES (3, N'（お）くに', N'Đất nước ( Bạn )', NULL, N'1.1')
SET IDENTITY_INSERT [Dictionary_Main] OFF
INSERT [Lesson] ([LessonID], [LessonName]) VALUES (N'1.1', N' わたしのなまえ')
INSERT [Lesson] ([LessonID], [LessonName]) VALUES (N'1.2', N'わたしのたんじょうび')
INSERT [Lesson] ([LessonID], [LessonName]) VALUES (N'1.3', N'わたしのしゅみ')
SET IDENTITY_INSERT [Lesson_Recently] ON 

INSERT [Lesson_Recently] ([ID], [UserID], [LessonID]) VALUES (1, 1, N'1.1')
INSERT [Lesson_Recently] ([ID], [UserID], [LessonID]) VALUES (2, 1, N'2.1')
INSERT [Lesson_Recently] ([ID], [UserID], [LessonID]) VALUES (3, 1, N'3.2')
SET IDENTITY_INSERT [Lesson_Recently] OFF
SET IDENTITY_INSERT [sysdiagrams] ON 

SET IDENTITY_INSERT [sysdiagrams] OFF
SET IDENTITY_INSERT [User] ON 

INSERT [User] ([UserID], [Username], [Password], [Email]) VALUES (1, N'tuanteo', N'4560439C5843E5F04DFAF21FCFC4E25C', N'tuean@gmail.com')
INSERT [User] ([UserID], [Username], [Password], [Email]) VALUES (2, N'tung1234', N'8DFC5605E9B079C2EF9E3D86F9BE76AC', N'tuean@gmail.com')
INSERT [User] ([UserID], [Username], [Password], [Email]) VALUES (3, N'3t', N'D41D8CD98F00B204E9800998ECF8427E', N'tuean@gmail.com')
SET IDENTITY_INSERT [User] OFF
SET IDENTITY_INSERT [User_Word] ON 

INSERT [User_Word] ([WordID], [UserID], [Japanese], [Vietnamese], [TopicID]) VALUES (1, 1, N'明日', N'Ngày mai', 1)
INSERT [User_Word] ([WordID], [UserID], [Japanese], [Vietnamese], [TopicID]) VALUES (2, 1, N'日曜', N'Chủ nhật', 1)
INSERT [User_Word] ([WordID], [UserID], [Japanese], [Vietnamese], [TopicID]) VALUES (3, 1, N'あさって', N'ngày kia', 1)
SET IDENTITY_INSERT [User_Word] OFF
SET IDENTITY_INSERT [Word_Topic] ON 

INSERT [Word_Topic] ([TopicID], [TopicName]) VALUES (1, N'Ngày tháng')
INSERT [Word_Topic] ([TopicID], [TopicName]) VALUES (9, N'Phương tiện')
INSERT [Word_Topic] ([TopicID], [TopicName]) VALUES (10, N'Con người')
SET IDENTITY_INSERT [Word_Topic] OFF
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_principal_name]    Script Date: 11/07/2018 6:19:14 AM ******/
ALTER TABLE [sysdiagrams] ADD  CONSTRAINT [UK_principal_name] UNIQUE NONCLUSTERED 
(
	[principal_id] ASC,
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
GO
ALTER TABLE [Dictionary_Main]  WITH CHECK ADD  CONSTRAINT [FK_Dictionary_Main_To_Lesson] FOREIGN KEY([LessonID])
REFERENCES [Lesson] ([LessonID])
GO
ALTER TABLE [Dictionary_Main] CHECK CONSTRAINT [FK_Dictionary_Main_To_Lesson]
GO
ALTER TABLE [Game_Score]  WITH CHECK ADD  CONSTRAINT [FK_Game_Score_To_User] FOREIGN KEY([UserID])
REFERENCES [User] ([UserID])
GO
ALTER TABLE [Game_Score] CHECK CONSTRAINT [FK_Game_Score_To_User]
GO
ALTER TABLE [Lesson_Recently]  WITH CHECK ADD  CONSTRAINT [FK_Lesson_Recently_To_Lesson] FOREIGN KEY([LessonID])
REFERENCES [Lesson] ([LessonID])
GO
ALTER TABLE [Lesson_Recently] CHECK CONSTRAINT [FK_Lesson_Recently_To_Lesson]
GO
ALTER TABLE [Lesson_Recently]  WITH CHECK ADD  CONSTRAINT [FK_LessonRecently_To_User] FOREIGN KEY([UserID])
REFERENCES [User] ([UserID])
GO
ALTER TABLE [Lesson_Recently] CHECK CONSTRAINT [FK_LessonRecently_To_User]
GO
ALTER TABLE [Test_Score]  WITH CHECK ADD  CONSTRAINT [FK_Test_Score_To_User] FOREIGN KEY([UserID])
REFERENCES [User] ([UserID])
GO
ALTER TABLE [Test_Score] CHECK CONSTRAINT [FK_Test_Score_To_User]
GO
ALTER TABLE [User_Word]  WITH CHECK ADD  CONSTRAINT [FK_User_To_User_Word] FOREIGN KEY([UserID])
REFERENCES [User] ([UserID])
GO
ALTER TABLE [User_Word] CHECK CONSTRAINT [FK_User_To_User_Word]
GO
ALTER TABLE [User_Word]  WITH CHECK ADD  CONSTRAINT [FK_User_Word_To_Word_Topic] FOREIGN KEY([TopicID])
REFERENCES [Word_Topic] ([TopicID])
GO
ALTER TABLE [User_Word] CHECK CONSTRAINT [FK_User_Word_To_Word_Topic]
GO
/****** Object:  StoredProcedure [GetLessons]    Script Date: 11/07/2018 6:19:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [GetLessons]
@u int,
@v int
as
begin
 SELECT a.LessonID,a.LessonName FROM ( 
  SELECT *, ROW_NUMBER() OVER (ORDER BY LessonID) as row 
  FROM Lesson a
 ) a WHERE a.row >= @u and a.row <= @v
end
GO
/****** Object:  StoredProcedure [GetWords]    Script Date: 11/07/2018 6:19:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [GetWords]
@u int,
@v int
as
begin
 SELECT a.ID, a.Japanese,a.Vietnamese FROM ( 
  SELECT *,
 ROW_NUMBER() OVER (ORDER BY ID) as row 
  FROM Dictionary_Main a
 ) a WHERE a.row >= @u and a.row <= @v
end
GO
/****** Object:  StoredProcedure [sp_alterdiagram]    Script Date: 11/07/2018 6:19:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROCEDURE [sp_alterdiagram]
	(
		@diagramname 	sysname,
		@owner_id	int	= null,
		@version 	int,
		@definition 	varbinary(max)
	)
	WITH EXECUTE AS 'dbo'
	AS
	BEGIN
		set nocount on
	
		declare @theId 			int
		declare @retval 		int
		declare @IsDbo 			int
		
		declare @UIDFound 		int
		declare @DiagId			int
		declare @ShouldChangeUID	int
	
		if(@diagramname is null)
		begin
			RAISERROR ('Invalid ARG', 16, 1)
			return -1
		end
	
		execute as caller;
		select @theId = DATABASE_PRINCIPAL_ID();	 
		select @IsDbo = IS_MEMBER(N'db_owner'); 
		if(@owner_id is null)
			select @owner_id = @theId;
		revert;
	
		select @ShouldChangeUID = 0
		select @DiagId = diagram_id, @UIDFound = principal_id from dbo.sysdiagrams where principal_id = @owner_id and name = @diagramname 
		
		if(@DiagId IS NULL or (@IsDbo = 0 and @theId <> @UIDFound))
		begin
			RAISERROR ('Diagram does not exist or you do not have permission.', 16, 1);
			return -3
		end
	
		if(@IsDbo <> 0)
		begin
			if(@UIDFound is null or USER_NAME(@UIDFound) is null) -- invalid principal_id
			begin
				select @ShouldChangeUID = 1 ;
			end
		end

		-- update dds data			
		update dbo.sysdiagrams set definition = @definition where diagram_id = @DiagId ;

		-- change owner
		if(@ShouldChangeUID = 1)
			update dbo.sysdiagrams set principal_id = @theId where diagram_id = @DiagId ;

		-- update dds version
		if(@version is not null)
			update dbo.sysdiagrams set version = @version where diagram_id = @DiagId ;

		return 0
	END
	
GO
/****** Object:  StoredProcedure [sp_creatediagram]    Script Date: 11/07/2018 6:19:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROCEDURE [sp_creatediagram]
	(
		@diagramname 	sysname,
		@owner_id		int	= null, 	
		@version 		int,
		@definition 	varbinary(max)
	)
	WITH EXECUTE AS 'dbo'
	AS
	BEGIN
		set nocount on
	
		declare @theId int
		declare @retval int
		declare @IsDbo	int
		declare @userName sysname
		if(@version is null or @diagramname is null)
		begin
			RAISERROR (N'E_INVALIDARG', 16, 1);
			return -1
		end
	
		execute as caller;
		select @theId = DATABASE_PRINCIPAL_ID(); 
		select @IsDbo = IS_MEMBER(N'db_owner');
		revert; 
		
		if @owner_id is null
		begin
			select @owner_id = @theId;
		end
		else
		begin
			if @theId <> @owner_id
			begin
				if @IsDbo = 0
				begin
					RAISERROR (N'E_INVALIDARG', 16, 1);
					return -1
				end
				select @theId = @owner_id
			end
		end
		-- next 2 line only for test, will be removed after define name unique
		if EXISTS(select diagram_id from dbo.sysdiagrams where principal_id = @theId and name = @diagramname)
		begin
			RAISERROR ('The name is already used.', 16, 1);
			return -2
		end
	
		insert into dbo.sysdiagrams(name, principal_id , version, definition)
				VALUES(@diagramname, @theId, @version, @definition) ;
		
		select @retval = @@IDENTITY 
		return @retval
	END
	
GO
/****** Object:  StoredProcedure [sp_dropdiagram]    Script Date: 11/07/2018 6:19:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROCEDURE [sp_dropdiagram]
	(
		@diagramname 	sysname,
		@owner_id	int	= null
	)
	WITH EXECUTE AS 'dbo'
	AS
	BEGIN
		set nocount on
		declare @theId 			int
		declare @IsDbo 			int
		
		declare @UIDFound 		int
		declare @DiagId			int
	
		if(@diagramname is null)
		begin
			RAISERROR ('Invalid value', 16, 1);
			return -1
		end
	
		EXECUTE AS CALLER;
		select @theId = DATABASE_PRINCIPAL_ID();
		select @IsDbo = IS_MEMBER(N'db_owner'); 
		if(@owner_id is null)
			select @owner_id = @theId;
		REVERT; 
		
		select @DiagId = diagram_id, @UIDFound = principal_id from dbo.sysdiagrams where principal_id = @owner_id and name = @diagramname 
		if(@DiagId IS NULL or (@IsDbo = 0 and @UIDFound <> @theId))
		begin
			RAISERROR ('Diagram does not exist or you do not have permission.', 16, 1)
			return -3
		end
	
		delete from dbo.sysdiagrams where diagram_id = @DiagId;
	
		return 0;
	END
	
GO
/****** Object:  StoredProcedure [sp_helpdiagramdefinition]    Script Date: 11/07/2018 6:19:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROCEDURE [sp_helpdiagramdefinition]
	(
		@diagramname 	sysname,
		@owner_id	int	= null 		
	)
	WITH EXECUTE AS N'dbo'
	AS
	BEGIN
		set nocount on

		declare @theId 		int
		declare @IsDbo 		int
		declare @DiagId		int
		declare @UIDFound	int
	
		if(@diagramname is null)
		begin
			RAISERROR (N'E_INVALIDARG', 16, 1);
			return -1
		end
	
		execute as caller;
		select @theId = DATABASE_PRINCIPAL_ID();
		select @IsDbo = IS_MEMBER(N'db_owner');
		if(@owner_id is null)
			select @owner_id = @theId;
		revert; 
	
		select @DiagId = diagram_id, @UIDFound = principal_id from dbo.sysdiagrams where principal_id = @owner_id and name = @diagramname;
		if(@DiagId IS NULL or (@IsDbo = 0 and @UIDFound <> @theId ))
		begin
			RAISERROR ('Diagram does not exist or you do not have permission.', 16, 1);
			return -3
		end

		select version, definition FROM dbo.sysdiagrams where diagram_id = @DiagId ; 
		return 0
	END
	
GO
/****** Object:  StoredProcedure [sp_helpdiagrams]    Script Date: 11/07/2018 6:19:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROCEDURE [sp_helpdiagrams]
	(
		@diagramname sysname = NULL,
		@owner_id int = NULL
	)
	WITH EXECUTE AS N'dbo'
	AS
	BEGIN
		DECLARE @user sysname
		DECLARE @dboLogin bit
		EXECUTE AS CALLER;
			SET @user = USER_NAME();
			SET @dboLogin = CONVERT(bit,IS_MEMBER('db_owner'));
		REVERT;
		SELECT
			[Database] = DB_NAME(),
			[Name] = name,
			[ID] = diagram_id,
			[Owner] = USER_NAME(principal_id),
			[OwnerID] = principal_id
		FROM
			sysdiagrams
		WHERE
			(@dboLogin = 1 OR USER_NAME(principal_id) = @user) AND
			(@diagramname IS NULL OR name = @diagramname) AND
			(@owner_id IS NULL OR principal_id = @owner_id)
		ORDER BY
			4, 5, 1
	END
	
GO
/****** Object:  StoredProcedure [sp_renamediagram]    Script Date: 11/07/2018 6:19:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROCEDURE [sp_renamediagram]
	(
		@diagramname 		sysname,
		@owner_id		int	= null,
		@new_diagramname	sysname
	
	)
	WITH EXECUTE AS 'dbo'
	AS
	BEGIN
		set nocount on
		declare @theId 			int
		declare @IsDbo 			int
		
		declare @UIDFound 		int
		declare @DiagId			int
		declare @DiagIdTarg		int
		declare @u_name			sysname
		if((@diagramname is null) or (@new_diagramname is null))
		begin
			RAISERROR ('Invalid value', 16, 1);
			return -1
		end
	
		EXECUTE AS CALLER;
		select @theId = DATABASE_PRINCIPAL_ID();
		select @IsDbo = IS_MEMBER(N'db_owner'); 
		if(@owner_id is null)
			select @owner_id = @theId;
		REVERT;
	
		select @u_name = USER_NAME(@owner_id)
	
		select @DiagId = diagram_id, @UIDFound = principal_id from dbo.sysdiagrams where principal_id = @owner_id and name = @diagramname 
		if(@DiagId IS NULL or (@IsDbo = 0 and @UIDFound <> @theId))
		begin
			RAISERROR ('Diagram does not exist or you do not have permission.', 16, 1)
			return -3
		end
	
		-- if((@u_name is not null) and (@new_diagramname = @diagramname))	-- nothing will change
		--	return 0;
	
		if(@u_name is null)
			select @DiagIdTarg = diagram_id from dbo.sysdiagrams where principal_id = @theId and name = @new_diagramname
		else
			select @DiagIdTarg = diagram_id from dbo.sysdiagrams where principal_id = @owner_id and name = @new_diagramname
	
		if((@DiagIdTarg is not null) and  @DiagId <> @DiagIdTarg)
		begin
			RAISERROR ('The name is already used.', 16, 1);
			return -2
		end		
	
		if(@u_name is null)
			update dbo.sysdiagrams set [name] = @new_diagramname, principal_id = @theId where diagram_id = @DiagId
		else
			update dbo.sysdiagrams set [name] = @new_diagramname where diagram_id = @DiagId
		return 0
	END
	
GO
/****** Object:  StoredProcedure [sp_upgraddiagrams]    Script Date: 11/07/2018 6:19:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROCEDURE [sp_upgraddiagrams]
	AS
	BEGIN
		IF OBJECT_ID(N'dbo.sysdiagrams') IS NOT NULL
			return 0;
	
		CREATE TABLE dbo.sysdiagrams
		(
			name sysname NOT NULL,
			principal_id int NOT NULL,	-- we may change it to varbinary(85)
			diagram_id int PRIMARY KEY IDENTITY,
			version int,
	
			definition varbinary(max)
			CONSTRAINT UK_principal_name UNIQUE
			(
				principal_id,
				name
			)
		);


		/* Add this if we need to have some form of extended properties for diagrams */
		/*
		IF OBJECT_ID(N'dbo.sysdiagram_properties') IS NULL
		BEGIN
			CREATE TABLE dbo.sysdiagram_properties
			(
				diagram_id int,
				name sysname,
				value varbinary(max) NOT NULL
			)
		END
		*/

		IF OBJECT_ID(N'dbo.dtproperties') IS NOT NULL
		begin
			insert into dbo.sysdiagrams
			(
				[name],
				[principal_id],
				[version],
				[definition]
			)
			select	 
				convert(sysname, dgnm.[uvalue]),
				DATABASE_PRINCIPAL_ID(N'dbo'),			-- will change to the sid of sa
				0,							-- zero for old format, dgdef.[version],
				dgdef.[lvalue]
			from dbo.[dtproperties] dgnm
				inner join dbo.[dtproperties] dggd on dggd.[property] = 'DtgSchemaGUID' and dggd.[objectid] = dgnm.[objectid]	
				inner join dbo.[dtproperties] dgdef on dgdef.[property] = 'DtgSchemaDATA' and dgdef.[objectid] = dgnm.[objectid]
				
			where dgnm.[property] = 'DtgSchemaNAME' and dggd.[uvalue] like N'_EA3E6268-D998-11CE-9454-00AA00A3F36E_' 
			return 2;
		end
		return 1;
	END
	
GO
EXEC sys.sp_addextendedproperty @name=N'microsoft_database_tools_support', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'sysdiagrams'
GO
USE [master]
GO
