#title_book_page {
    margin-left: 100px;
}

.div_content {
    background-color: #e9ebee;
    width: 80%;
    height: 1000px;
    margin: 0 auto;
}

.book_border_left {
    width: 28%;
    margin: 10px 30px;
    background-color: white;
    height: 450px;
    float: left;
    cursor: pointer;
}

.book_border_right {
    width: 28%;
    margin: 10px 20px;
    background-color: white;
    height: 450px;
    float: right;
    cursor: pointer;
}

.book_title {
    text-align: center;
    color: tomato;
    font-size: 20px;
}