/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 9, 2018, 8:30:58 AM
    Author     : Laptop VINHLINK
*/

@charset "utf-8";
@font-face{
    font-family: 'Fredoka One';
    src: url('../Font/FredokaOne-Regular.ttf');
}

#title_learning {
    width: 250px;
    margin-left: 100px;
    border-bottom: 2px solid black;
    padding-bottom: 5px;
    margin-bottom: 20px;
    font-weight: bolder;
}

#title_choose_lesson {
    margin-left: 100px;
    font-weight: bold;
    color: #8AB1EB;

}

#table_title_learning {
    color: #3EDFA8;
    text-align: center;
    font-weight: bold
}

.main_content_flashcard{
    margin-left: 20px;
    margin-bottom: 20px;
    margin: 20px;
    background-color: #f0f0f0
}


.main_content_flashcard h2{
    margin-bottom:0px;
    padding-bottom:0;
    font-size:33px;
    margin-left: 20px;
    line-height:1.2em;
    color:#8ab1eb;
    font-family: Fredoka One;
}

/*=====================================*/

/*.container_flashcard {
    margin: auto;
    padding: 20px;
    width: 1000px;
    height: 70px;

}*/


.container_flashcard {
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 900px;
    height: 50px;
    padding: 25px;
    display: block;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


}


.container_flashcard a{
    font-family:Fredoka One;
    color: #8ab1eb;
    font-size: 24px;
    text-decoration: none; 
    /*margin: auto;*/
    /*margin-bottom: 20px;*/
    /*margin-top: 20px;*/
    /*width: 900px;*/
    /*height: 50px;*/
    /*padding: 25px;*/
    /*display: block;*/
    /*background-color: white;*/
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/


}

#right{
    font-family:Fredoka One;
    color: #8ab1eb;
    font-size: 24px;
    text-decoration: none; 
    float: right;
    /*    margin-left: 55%;
        overflow: no-content;*/
    padding-left: 100px

}


/*===========================================*/
#button_forward_learn {
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 20px;
    width: 180px;
    height: 20px;
    transition: all 0.5s;
    cursor: pointer;  
    float: right;
    margin-right: 10%;
    /*padding: auto;*/
}

#button_forward_learn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

#button_forward_learn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

#button_forward_learn:hover span {
    padding-right: 25px;
}

#button_forward_learn:hover span:after {
    opacity: 1;
    right: 0;
}

/*============================================*/
.pagination {
    display: inline-block;
    margin-left: 45%;
    margin-bottom: 50px;
    margin-top: 50px;

}

.pagination a {
    color: black;
    background-color: #ddd;
    padding: 8px 16px;
    text-decoration: none;

}

.pagination a:hover:not(.active) {
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
}



body {font-family: Arial, Helvetica, sans-serif;} 



@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}





