/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 9, 2018, 8:30:58 AM
    Author     : Laptop VINHLINK
*/

@charset "utf-8";
@font-face{
    font-family: 'Fredoka One';
    src: url('../Font/FredokaOne-Regular.ttf');
}

#title_learning {
    width: 200px;
    margin-left: 100px;
    border-bottom: 2px solid black;
    padding-bottom: 5px;
    margin-bottom: 20px;
    font-weight: bolder;
}

#title_choose_lesson {
    margin-left: 100px;
    font-weight: bold;
    color: #8AB1EB;
  
}

.main_content table {
    margin-left: 20px;
    width: 500px;
}


#tableLeft {
    margin-left: 20px;
    width: 800px;
   
}

#tableRight {
    margin-right: 20px;
    width: 800px;
   
    
}

#tableLeft a {
    font-family:Fredoka One;
    color: #bfbfbf;
    font-size: 24px;
    text-decoration: none; 
    margin-left: 30px ;
    margin-bottom: 30px;
    border: 2px solid #bfbfbf;
    width: 450px;
    height: 50px;
    padding: 20px;
    display: block;
    border-radius: 10px; 
}

#tableLeft a:hover{
    border: 2px solid #8ab1eb;
    color: #8ab1eb;
}


#tableRight a {
    font-family:Fredoka One;
    color: #bfbfbf;
    font-size: 24px;
    text-decoration: none; 
    margin-left: 30px ;
    margin-bottom: 30px;
    border: 2px solid #bfbfbf;
    width: 450px;
    height: 50px;
    padding: 20px;
    display: block;
    border-radius: 10px;
   
}

#tableRight a:hover{
    border: 2px solid #8ab1eb;
    color: #8ab1eb;
}


/*=====================================*/

#table_title_learning {
    color: #3EDFA8;
    text-align: center;
    font-weight: bold
}

.container_lessons {
    margin: auto;
    padding: 20px;
    width: 900px;
    height: 70px;
}


.container_lessons a {
    font-family:Fredoka One;
    color: #bfbfbf;
    font-size: 24px;
    text-decoration: none; 
    margin: auto;
    border: 2px solid #bfbfbf;
    width: 900px;
    height: 50px;
    padding: 25px;
    padding-bottom: 20px;
    display: block;
    border-radius: 10px;
   
}

.container_lessons a:hover{
    border: 2px solid #8ab1eb;
    color: #8ab1eb;
}




/*============= flashcard =================*/
#flashGround{
        background-color: #bfbfbf;
}



.select_container_learning{
	margin: auto;
	padding:10px;

	width: 1000px;
	height: 30px;
	overflow: auto;
        
}

.select_container_learning a{
	font-family:Fredoka One;
	color: #bfbfbf;
	font-size: 24px;
	text-decoration: none; 
	margin:auto;
	margin-bottom:10px;
	border: 2px solid #bfbfbf;
	width:500px;
	height: 30px;
	padding:5px;
	display: block;
	border-radius: 10px;
}

.select_container_learning a:hover{
	border: 2px solid #8ab1eb;
	color: #8ab1eb;
}


/*================================*/
/*this class is for paging*/
.pagination {
    display: inline-block;
    margin-left: 500px;
    margin-bottom: 50px;
    margin-top: 50px;
}

.pagination a {
    color: black;
    background-color: #ddd;
    padding: 8px 16px;
    text-decoration: none;
   
}

.pagination a:hover:not(.active) {
   background-color: #4CAF50;
   color: white;
    border-radius: 5px;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
}
/*======================*/









 body {font-family: Arial, Helvetica, sans-serif;} 

 /*Full-width input fields*/ 
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

 /*Set a style for all buttons*/ 
button {
    background-color: #4d4dff;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}


.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

 /*The Modal (background)*/ 
.modal {
    display: none;     /*Hidden by default*/ 
    position: fixed;      /*Stay in place*/ 
    z-index: 1;     /*Sit on top*/ 
    left: 0;
    top: 0;
    width: 100%;      /*Full width*/ 
    height: 100%;    /*Full height*/ 
    overflow: auto;    /*Enable scroll if needed*/ 
    background-color: rgb(0,0,0);    /*Fallback color*/ 
    background-color: rgba(0,0,0,0.4);    /*Black w/ opacity*/ 
    padding-top: 60px;
}




